[Desktop Entry]
Type=Application
Name=IOI Setup
Comment=IOI Setup
Exec=/opt/ioi/bin/ioisetup
OnlyShowIn=GNOME;Unity;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-enabled=true
